<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div>
<% contents.forEach(function (value, key) { %>
<p><%= key %>: <a target="_blank" href="<%= value.link %>"><%= value.title %></a></p><br>
<% }); %>
</div><br>
<a href="/csv/data_<%= name %>.csv" download="<%= name %>.csv">CSV ダウンロード</a>

</body>
</html>
